/* navber section start */
.main-navbar {
  border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar {
  /* background-color: #2874f0; */
  background-color: #002c3e;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
  color: #fff;
}
.main-navbar .top-navbar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu {
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar {
  padding: 0px;
  background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link {
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 12px;
    padding: 8px 10px;
  }
}
.btn_size {
  height: 100%;
  margin-left: 20px;
}

/* navber section end */

/* slider/banner section start */

.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #002c3e;
  line-height: 70px;
}

.slider_section .detail-box h1 span {
  color: #f7444e;
}

.slider_section .detail-box p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f7444e;
}

.slider_section .img-box img {
  width: 100%;
  height: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f7444e;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top right;
  object-position: top right;
}

/* slider/banner section end */

/* why section start */
.why_section .box {
  text-align: center;
  margin-top: 45px;
  background-color: #002c3e;
  padding: 45px 50px;
  border-radius: 5px;
  color: #ffffff;
}

.detail-box h5 {
  font-size: 21px;
  font-weight: 700;
}

.remove_line_bt h2::after {
  display: none;
}

.why_section .box .img-box {
  margin-bottom: 15px;
}

.why_section .box .img-box svg {
  width: 55px;
  height: auto;
  fill: #ffffff;
}
.heading_container {
  text-align: center;
  color: #c30808;
  padding-top: 50px;
}
.row {
  padding-bottom: 50px;
}
/* why section end */

/* arrival section start */
.arrival_container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #d6d6d6;
}
.rasel {
  display: flex;
  padding-top: 20px;
}
.arrival_bg_box {
  margin-left: 5%;
}
.text_part {
  margin-right: 5%;
  padding-bottom: 50px;
}
.new {
  color: #f7444e;
}
.arrival_section a:hover {
  background-color: transparent;
  color: #f7444e;
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #002c3e;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  /* Optional: Add hover styles */
  &:hover {
    background-color: #f00a30;
  }
}

/* arrival section end */

/* product section start */

.card-rating {
  color: white;
  padding-left: 1%;
}
.card-img-top {
  width: 60%;
  height: 60%;
  margin: auto;
  padding-top: 6%;
}
.card {
  width: 280px;
  display: flex;
}
.btns {
  width: 80px;
  background-color: #ffa41c;
  color: white;
}
.heading_part {
  align-items: center;
  color: #e105c3;
  font-size: 40px;
  padding-top: 3%;
}
.product-name {
  padding-top: 4%;
}


.cursor-pointer {
  cursor: pointer;
}
.show_card {
  display: flex !important;
  gap: 20px;
}
/* product section end */




/* Best Seller product section start */

.carousel-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.swiffy-slider {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slider-container li {
  list-style: none;
  margin: 0 10px;
  width: 1000px;
}
.slide-item {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  flex: 0 0 auto;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.card-text {
  color: #666;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
.card_img {
  width: 300px;
  height: 250px;
  align-items: center;
}
/* Best Seller product section end */

/* subscribe section start */
.subscribe_section {
  text-align: center;
}

.subscribe_section .box {
  background-color: #d4ced0;
  padding: 75px 45px;
}

.subscribe_section .subscribe_form .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #047faf;
  text-decoration: none;
}

.subscribe_section .subscribe_form .heading_container h2 {
  padding: 0 25px;
}

.subscribe_section .subscribe_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe_section .subscribe_form form input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 90px;
  outline: none;
  padding: 5px 25px;
  background-color: #ffffff;
  margin-top: 15px;
  text-align: left;
}

.subscribe_section .subscribe_form form input::-webkit-input-placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form input:-ms-input-placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form input::-ms-input-placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form input::placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 285px;
}

.subscribe_section .subscribe_form form button:hover {
  background-color: transparent;
  color: #f7444e;
}
/* subscribe section end */

/* client section start */
.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 55px;
}

.client_section .box .img_container {
  width: auto;
  height: auto;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.client_section .box .img_container .img-box {
  width: auto;
  height: auto;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  margin-right: -1px;
}

.client_section .box .img_container .img-box .img_box-inner {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.client_section .box .img_container .img-box .img_box-inner img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 25px;
}

.client_section .box .detail-box h5 {
  font-size: 20px;
  font-weight: 600;
}

.client_section .box .detail-box h6 {
  font-size: 15px;
  color: #999998;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  top: 43%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  width: auto;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  opacity: 1;
  color: #ffffff;
  background-color: #f7444e;
  border-radius: 100%;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #212121;
}

.client_section .carousel-control-prev {
  left: 25%;
}

.client_section .carousel-control-next {
  right: 25%;
}
.heading_center {
  text-decoration: none;
}
/* client section end */

/* banner section start */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Avenir Next", Avenir, "Helvetica neue", Helvetica, Arial,
    sans-serif;
}
.bnr {
  max-width: 100%;
  background: #000;
  padding: 1em;
  overflow: hidden;
  background: linear-gradient(rgba(100, 0, 0, 0.25), rgba(0, 0, 100, 0.5)),
    url(https://images.unsplash.com/photo-1441716844725-09cedc13a4e7?ixlib=rb-0.3.5&q=80&fm=jpg&s=62e5166fc458acdb847ba5ff5588414f)
      no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bnr,
.bnr button {
  text-align: center;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
}
.bnr h2,
.bnr p,
.bnr button {
  color: #fff;
}
.bnr button {
  background: linear-gradient(
    to right bottom,
    rgba(102, 192, 222, 1) 50%,
    rgba(82, 172, 202, 1) 50%
  );
  padding: 0.75em;
  border: 0.2em solid #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
}

.main,
.main h1 {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  color: #357;
  margin-top: 0.5em;
}
.main h1 {
  font-family: Pacifico;
  border-bottom: 0.05em solid;
  padding: 0 0.5em;
}

figure {
  position: relative;
  max-width: 100%;
  text-align: center;
  float: right;
  margin: 2em;
}
figure img {
  display: block;
  max-width: 100%;
  margin: 0 0 0.4em;
}
figcaption {
  text-align: center;
  display: block;
  color: #aaa;
}
.description {
  padding: 0.5em 2em;
  font-size: 1.1em;
  display: inline;
}
/* banner section end */

/* footer section start */

.field {
  display: flex;
}

div.form_sub .field input[type="email"],
div.form_sub .field input[type="email"]:hover,
div.form_sub .field input[type="email"]:focus {
  padding: 10px 110px 10px 15px;
  border-radius: 0;
  border: solid #ccc 1px;
  font-size: 14px;
  position: relative;
  box-shadow: none;
  width: 100%;
  height: 48px;
}

.form_sub {
  position: relative;
}

.form_sub input[type="email"] + input[type="submit"] {
  position: absolute;
  right: 0;
  background: #f7444e;
  color: #fff;
  border: none;
  top: 0px;
  font-size: 14px;
  height: 48px;
  font-weight: 600;
  padding: 0 15px;
}

form input {
  background: #fff;
  border: solid #ccc 1px;
  padding: 15px 15px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: normal;
}

form textarea {
  background: #fff;
  border: solid #ccc 1px;
  padding: 15px 15px;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: normal;
}

form input[type="submit"] {
  border: none;
  padding: 15px 45px;
  width: auto;
  font-size: 16px;
  text-transform: capitalize;
  line-height: normal;
  margin: 0 auto;
  display: flex;
  background: #333;
  color: #fff;
  font-weight: 600;
  transition: ease all 0.1s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: #f7444e;
  color: #fff;
}

.manu {
  padding-left: 40px;
}
.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: center;
  justify-content: left;
  margin-top: 25px;
  margin-bottom: 10px;
}

.footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #002c3e;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
  text-decoration: none;
}

.footer_social a:hover {
  color: #f7444e;
}
.footer-section {
  background-color: #002c3e;
}

/* footer section end */

/* footer section end */
/* footer section end */
